<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simmya.mapper.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.simmya.pojo.Orders" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="BOX_IDs" property="boxIds" jdbcType="VARCHAR" />
    <result column="ORDER_COUNT" property="orderCount" jdbcType="INTEGER" />
    <result column="ORDER_WAY" property="orderWay" jdbcType="CHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ADDRESS_ID" property="addressId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, BOX_IDs, ORDER_COUNT, ORDER_WAY, STATUS, TOTAL_PRICE, CREATE_TIME, ADDRESS_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from orders
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.simmya.pojo.Orders" >
    insert into orders (ID, USER_ID, BOX_IDs, 
      ORDER_COUNT, ORDER_WAY, STATUS, 
      TOTAL_PRICE, CREATE_TIME, ADDRESS_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{boxIds,jdbcType=VARCHAR}, 
      #{orderCount,jdbcType=INTEGER}, #{orderWay,jdbcType=CHAR}, #{status,jdbcType=VARCHAR}, 
      #{totalPrice,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{addressId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.simmya.pojo.Orders" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="boxIds != null" >
        BOX_IDs,
      </if>
      <if test="orderCount != null" >
        ORDER_COUNT,
      </if>
      <if test="orderWay != null" >
        ORDER_WAY,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="addressId != null" >
        ADDRESS_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="boxIds != null" >
        #{boxIds,jdbcType=VARCHAR},
      </if>
      <if test="orderCount != null" >
        #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="orderWay != null" >
        #{orderWay,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simmya.pojo.Orders" >
    update orders
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="boxIds != null" >
        BOX_IDs = #{boxIds,jdbcType=VARCHAR},
      </if>
      <if test="orderCount != null" >
        ORDER_COUNT = #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="orderWay != null" >
        ORDER_WAY = #{orderWay,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addressId != null" >
        ADDRESS_ID = #{addressId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simmya.pojo.Orders" >
    update orders
    set USER_ID = #{userId,jdbcType=VARCHAR},
      BOX_IDs = #{boxIds,jdbcType=VARCHAR},
      ORDER_COUNT = #{orderCount,jdbcType=INTEGER},
      ORDER_WAY = #{orderWay,jdbcType=CHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ADDRESS_ID = #{addressId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>